---
import Header from './Header.astro';
---

<Header />
<div class="bg-primary text-white py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <slot name="header" />
    </div>
</div>
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <slot />
</main>
